.card-center-container {
    background-color: #2b2b2b;
    color: white;
    
}

.card-content-flex {
    display: flex;
}

.ml {
    margin-left: 10px;
}

.mb {
    margin-bottom: 16px;
}

.text-center {
    text-align: center;
}